.side-bar
  .header
    .header__title
      Word Leaf
  .books
    .new-book
      = link_to '#' do
        = icon('fa', 'book',class: 'icon')
        ノート作成
    .book
      .book__name
        テスト（本の名前）
      .book__name-btn
        編集
    .book
      .book__name
        テスト2（本の名前）
      .book__name-btn
        編集