.name-form
  = render 'layouts/notifications'
  %h1 新規ブック登録
  =form_for @book do |f|
    = f.text_field :name, class: "book-name", placeholder: "ブック名を入力してください"
    = f.submit "登録", class: "save-btn"
    = link_to "戻る",books_path(@book),class: "link-btn"