h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.name-form{
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #34675c;
  border-radius: 5px;
  box-sizing: border-box;
  .book-name {
    float: left;
    width: 100%;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border:1px solid #7da3a1;
  }
  .save-btn,.link-btn{
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #34675c;
    border: 0;
    margin-right: 10px;
  }a{
      text-decoration: none;
  }
}
