.notification {
  .notice {
    color: green;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
  }
  .alert {
    color: red;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }
}