.side-bar {
  box-sizing: border-box;
  color: white;
  width: 250px;
  .header {
    background-color: #34675c;
    height: 170px;
    line-height: 170px;
    &__title {
      padding-left: 45px;
      font-weight: bold;
      font-size: 30px;
    }
    &__lists {
      display: inline-block;
      .list {
        display: inline-block;
      }
      .icon {
        color: white;
      }
    }
  }    
  
  .new-book{
      padding: 30px 0;
      height: 25px;
      background-color: #324851;
      text-align: center;
      a{
        text-decoration: none;
        color: white;
      }
    }

  .books {
    background-color: #324851;
    height: calc(100vh - 255px);
    padding: 0 20px;
    overflow: scroll;

    .book-list{
      padding-left: 30px;
      .book {
        box-sizing: border-box;
        padding: 30px 0;
        display: flex;
        &__name {
          color: white;
        }
        &__name-btn{
          font-size: 10px;
        }
        a{
          text-decoration: none;
          color: white;
          .icon{
            padding-left: 15px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
