.wrapper {
 width: 100vw;
 font-family: 'klee',sans-serif;
 background-image: url("PAK86_miagerebamidori1226.jpg");
}

.top{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("PAK86_miagerebamidori1226.jpg");
}